# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.d
*.a
*.o

# Test binary, built with `go test -c`
*.test
*.tar.xz

# Test files
*.wav
*.aiff
*.flac

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.claude
# .vscode/
/direttampd
/MemoryPlayController/flac/
/MemoryPlayController/Find/
/MemoryPlayController/libACQUA_w32-win.lib
/MemoryPlayController/libACQUA_x64-win.lib
/MemoryPlayController/test_list_hosts
/MemoryPlayController/test_list_targets
/MemoryPlayController/test_session_control
/MemoryPlayController/test_upload_audio
